body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, img {margin:0;padding:0;border:0;list-style: none;}
body{font-family:"微软雅黑",Arial, Helvetica, sans-serif; font-size:14px;}
a{color:#999;text-decoration: none;}
a:hover{color:#fff;}
input,textarea{outline: none;}
 @font-face {
	font-family: 'freshskin';
    src:url('../fonts/iconfont.ttf');}  
 .videobox{
	width:100%;
	height:680px;
	overflow: hidden;
	position: relative;}
.videobox header{
	width:100%;
	height:40px;
	background: #333;
	z-index: 999;
	position: absolute;}
.videobox header .con{
	width:1030px;
	height:40px;
	margin:0 auto;}
.videobox header .left{
	width:75px;
	height:20px;
	background:url(../images/logo.png) 0 0 no-repeat;
	margin-top: 10px;
	float: left;}
.videobox header .right{
	margin-top: 10px;
	float: right;
	font-family: "freshskin";}
.videobox header .right a{margin-right: 10px;}
.videobox nav{
	width:100%;
	height:90px;
	background: rgba(0,0,0,0.2);
	z-index: 1000;
	position: absolute;
	top:40px;
	border-bottom: 1px solid #fff;}
.videobox nav ul{
	width:1030px;
	height:90px;
	margin:0 auto;
	position: relative;}
.videobox nav ul li{
	float: left;
	margin-right: 19%;}
.videobox nav ul .left:hover aside{display: block;}
.videobox nav ul .left a{
	display: block;
	height:90px;
	line-height: 90px;
	font-size: 20px;
	color:#fff;}
.videobox nav ul .left a img{vertical-align: middle;}
.videobox nav ul .left a span{margin:0 10px;}
.videobox aside{
	display: none;
	width:200px;
	height:350px;
	background: rgba(0,0,0,0.3);
	position: absolute;
	left:0;
	top:70px;
	z-index: 1500;
	color:#fff;}
.videobox aside span{
	width:20px;
	height:14px;
	background:url(../images/liebiao.png) 0 0 no-repeat;
	position: absolute;
	left:50px;
	top:0;}
.videobox aside ol{
	width:100px;
	float: left;}
.videobox aside ol li{
	width:100px;
	height:45px;
	line-height: 15px;
	cursor: pointer;
	font-family: "宋体";}
.videobox aside ol li.con{
	font-size: 15px;
	text-indent: 0;
	font-family: "微软雅黑";
	padding: 10px 0;}
.videobox aside ol li:hover{color:#fff;}
.videobox aside .zuo{margin:0px 0 0 60px;}
.videobox aside img{margin:10px 0 0 13px;}
.videobox nav ul .center{margin-top: 32px;}
.videobox nav ul .center input{
	width:240px;
	height:30px;
	border:1px solid #fff;
	border-radius: 15px; 
	color:#fff;
	line-height: 32px;
	background: rgba(0,0,0,0);
	padding-left: 30px;
	box-sizing:border-box;
	background:url(../images/search.png) no-repeat 3px 3px;
	outline: none;}

.new{
	width:100%;
	height:530px;
	background: #fff;}
.new header{
	width:385px;
	height: 95px;
	background: #f7f7f7;
	border-radius: 48px;
	margin:70px auto 0;
	box-sizing:border-box;
	padding:2px 0 0 35px;}
.new p{
	margin-top: 10px;
	text-align: center;
	color: #db0067;}
.new ul{
	margin:70px auto 0;
	width: 960px;}
.new ul li{
	width:266px;
	height:250px;
	border:1px solid #ccc; 
	background:url(../images/pic1.jpg) 0 0 no-repeat;
	float: left;
	margin-right:8%;
	margin-bottom: 40px;
	position: relative;
	overflow: hidden;}
.new ul li:nth-child(2){background-image: url(../images/pic2.jpg);}
.new ul li:nth-child(3){
	margin-right: 0;
	background-image: url(../images/pic3.jpg);}
.new ul li hgroup{
	position: absolute;
	left: 0;
	top: -251px;
	width: 266px;
	height: 250px;
	background: rgba(0,0,0,0.5);
	transition: all 0.5s ease-in 0s;}
.new ul li:hover hgroup{
	position: absolute;
	left:0;
	top:0;}
.new ul li hgroup h2:nth-child(1){
	font-size: 22px;
	text-align: center;
	color:#fff;
	font-weight: normal;
	margin-top: 58px;}
.new ul li hgroup h2:nth-child(2){
	font-size: 14px;
	text-align: center;
	color:#fff;
	font-weight: normal;
	margin-top: 15px;}
.new ul li hgroup h2:nth-child(3){
	width:26px;
	height: 26px;
	margin-left: 120px;
	margin-top: 15px;
	background:url(../images/jiantou.png) 0 0 no-repeat;}
.new ul li hgroup h2:nth-child(4){
	width:75px;
	height: 22px;
	margin-left: 95px;
	margin-top: 25px;
	background:url(../images/anniu.png) 0 0 no-repeat;} 
.try{
	width:100%;
	height:312px;
	background: #83ba8b;
	padding-top: 70px;}
.try header{
	width:555px;
	height: 95px;
	background: #f7f7f7;
	border-radius: 48px;
	margin:0 auto;
	box-sizing:border-box;
	padding:7px 0 0 35px;}
.try p{
	margin-top: 10px;
	text-align: center;
	color: #fff;}
.try ul{
	margin:70px auto 0;
	width: 960px;}
.try ul li{
	width:291px;
	height:251px;
	float: left;
	margin-right:4%;
	margin-bottom: 40px;
	position: relative;
	-webkit-perspective:230px;	}
.try ul li:last-child{
	margin-right: 0;}
.try ul li img{
	position: absolute;
	left:0;
	top:0;
	-webkit-backface-visibility:hidden;
	transition:all 0.5s ease-in 0s;}
.try ul li img.fan{
 	-webkit-transform:rotateX(-180deg);
 }
.try ul li:hover img.fan{
 	-webkit-transform:rotateX(0deg);}
 .try ul li:hover img.zheng{
 	-webkit-transform:rotateX(180deg);} 
 footer{
	width:100%;
	height:400px;
	background: #545861;
	border-bottom: 1px solid #fff;}
footer .logo{
	width:1000px;
	height:100px;
	margin:0 auto;
	background: url(../images/logo1.jpg) no-repeat center center;
	border-bottom: 1px solid #8c9299;}
footer .message{
	width:1000px;
	margin:20px auto 0;
	color:#fffada;}
footer .message .left{
	width:525px;
	float: left;
	padding-left: 30px;
	box-sizing:border-box;}
footer .message .left li{
	float: left;
	margin-right: 30px;}
footer .message .left li input{
	width:215px;
	height:32px;
	border-radius: 5px;
	margin:10px 0 15px 0;
	padding-left: 10px;
	box-sizing:border-box;
	border:none;}
footer .message .left li:last-child input{
	width:120px;
	height:39px;
	padding-left: 0;
	border:none;
	background: url(../images/but.jpg) no-repeat;}
footer .message .right{
	float: left;}
footer .message .right p{
	margin-bottom: 10px;}
footer .message .right textarea{
	width:400px;
	height:100px;
	padding:10px;
	box-sizing:border-box;
	resize:none;}
.banquan{
	width:100%;
	height:150px;
	background: #333333;
	text-align: center;}
.banquan a{line-height: 30px;}
